.testimonios{
    background-color: #f2f0d9;
    width: 100vw;
    height: 86vh;
    background-size: cover;
}

.testimonios-img-box{
   width: 50vw;
  height: 80%;
    background-image: url(../assets//img2.png);
    /* position: absolute; */
    
     
}

.testimonios-text-box{
    padding: 70px 25px 25px 5px;
    background-color: #fffdec;
    position: relative;
    width: 500px; 
    left: 70%;
    top: 45%;   
  
}

@media (max-width:900px) {
    .testimonios-text-box{
        padding: 70px 25px 25px 5px;
        background-color: #fffdec;
        position: relative;
        width: 500px; 
        left: 10%;
        top: 45%;   
      
    }
}

